<div class="container">
  
<div class="stepwizard col-md-offset-3">
    <div class="stepwizard-row setup-panel">
      <div class="stepwizard-step">
        <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
        <p>Group Settings</p>
      </div>
      <div class="stepwizard-step">
        <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
        <p>Services Settings</p>
      </div>
      <div class="stepwizard-step">
        <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
        <p>Apply Confirm</p>
      </div>
    </div>
</div>

<script>
    var step_index = {{ step_index }};
</script>
<script src="{{ STATIC_URL }}predictionscale/js/step_header.js" type='text/javascript' charset='utf-8'></script>

</div>